

@font-face{
	font-family: 'Roboto';
	src:url('../resources/fonts/Roboto/RobotoCondensed-Regular.ttf')
	}

#divmain{
	width: 100% !important ;
	display:flex !important ;
	font-family: Roboto,sans-serif !important ;
	}
	
.divmain1{
	width:55% !important ;
	font-family: Roboto,sans-serif !important ;
	font-size:25px !important ;
}
.divmain4{
	width:10% !important ;
	font-family: Roboto,sans-serif !important ;
}
#Login{
	text-align: center !important ;
    border-style: hidden !important ;
    background-color: #95d21a !important ;
    padding: 10px !important ;
    margin-top: 7px !important ;
	margin-right:15px !important ;
	cursor:pointer !important ;
}

.pclass{
	font-family: Roboto,sans-serif;
	text-align:center;
	color:#95d21a;
	font-size:50px;
}
.orclass{
	font-size:20px;
}
.contriclass{
	font-size:25px;
}
#hr1{
	width: 230px;
    display: inline-block;
    margin-left: 20%;
    margin-bottom: -40px;
    margin-top: 35px;
}
#hr2{
	width: 230px;
    display: inline-block;
    margin-left: 61%;
    margin-top: -30px;
}
	
.classbutton{
	font-family: Roboto,sans-serif;
    width: 100%;
    border-style: hidden;
    padding: 10px;
}

.about{
	text-align:center;
	font-family: Roboto,sans-serif;
	font-size:25px;
}
.about1{
	text-align:center;
	font-family: Roboto,sans-serif;
	font-size:17px;
}

.projec{
	text-align:center;
	font-family: Roboto,sans-serif;
	font-size:25px;
}
.project1{
	text-align:center;
	font-family: Roboto,sans-serif;
	font-size:17px;
}

.contact{
	text-align:center;
	font-family: Roboto,sans-serif;
	font-size:25px;
}
.contact1{
	text-align:center;
	font-family: Roboto,sans-serif;
	font-size:17px;
}

.login-page {
	display:none;
  width: 237px;
  /* padding: 9% 0 0; */
  margin: auto;
  float:right;
  margin-left:-237px;
  margin-top:-15px;
}
.form {
  /* position: relative; */
  z-index: 1;
  /* background: #FFFFFF; */
  max-width: 360px;
  /* margin: 0 auto 100px; */
  padding: 18px;
  text-align: center;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
}
.form input {
  font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 95%;
    border: 0;
    margin: 0px 0px 15px;
    padding: 5px 0px 5px 6px;
    box-sizing: border-box;
    font-size: 13px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  /* background: #e42719; */
  background: #dd1818;
  width: 95%;
  border: 0;
  padding: 4px;
  color: #FFFFFF;
  font-size: 13px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #b31616;
}
.form .message {
  margin: 15px 0px -15px;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 100%;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

.body {
  /* background: #2F4F4F; /* fallback for old browsers */
  /* background: -webkit-linear-gradient(right, #76b852, #8DC26F); */
  /* background: -moz-linear-gradient(right, #76b852, #8DC26F); */
  /* background: -o-linear-gradient(right, #76b852, #8DC26F); */
  /* background: linear-gradient(to left, #76b852, #8DC26F); */
  background-image: url("../images/grass.jpg");
  background-position: center; 
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
	z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
	margin:auto;
    width: 1349px; /* Full width */
    height: 602px; /* Full height */
    /* overflow: auto;  Enable scroll if needed  */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}
.modal-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 45%;
    height: 65%;	/* Could be more or less, depending on screen size */
}
.container {
    width: 100%;
    padding: 0px 20px;
    margin: -10px 0;
    display: block;
    box-sizing: border-box;
}
.close {
    position: absolute;
    right: 355px;
    top: 95px;
    color: gold;
    font-size: 15px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
.container label{
	margin-left: 8px;	
}
.container input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 72%;
  border: 0;
  margin: 10px 9px 15px;
  padding: 12px;
  box-sizing: border-box;
  font-size: 14px;
}
.Mainmania{
	color: gold;
    font-family: monospace;
    font-size: 35px;
    margin-top: 0px;
}


.form input[type]:focus {
    box-shadow: 0px 1px 15px -1px gray;
}

.container input[type]:focus {
    box-shadow: 0px 0px 15px -3px cyan;
}

.first{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  width: 48%;
  margin-right:3%;
  border: 0;
  padding: 15px;
  /* background:#b8860b; */
  /* background:#c18d0b; */
  /* background:#d6a019; */
  background:#efbe0e;
  /* background:#ff9800; */
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  display:inline;
}

.second{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  width: 48%;
  border: 0;
  padding: 15px;
  background:#d51c0e;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  display:inline;
}

.first:hover,.first:active,.first:focus {
  background: #d6a019;
  /* background: #b8860b; */
}

.second:hover,.second:active,.second:focus {
   background: #ba1205; 
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
.foter{
	width: 100%;
	color:grey;
    background-color: black;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 32px;
}
#paraid{
	color: gold;
    text-align: center;
    font-size: 18px;
    font-family: cursive;
}